#cloud-config
version: 1
locale: en_US.UTF-8
keyboard:
  layout: us
identity:
  password: "$6$rounds=1200$f5A9ofw7rq2NCIh.$qdcqCHTWpB/ZLbKLpwt2NbSBRuzgqFmMLcMBneFABtxwu18pt2PJAkKcp9VGTop1X9Bvvbqmelw1eshBhoyno/"
  username: pi
  hostname: localhost

timezone: Australia/Sydney

{%if install_type == 'online' %}
refresh-installer:
  update: true
{% endif %}

ansible:
  package_name: ansible
  install_method: distro
  pull:
    url: https://github.com/techieswithoutborders/cmes_pi_builder.git
    playbook_name: step1.yml
