
loadfont /boot/grub/fonts/unicode.pf2
insmod efi_gop
insmod efi_uga
insmod gfxterm
terminal_output gfxterm

### BEGIN theme setup
insmod part_gpt
insmod lvm
insmod ext2
insmod gfxmenu
insmod png
set theme=/boot/grub/themes/cmes/theme.txt
export theme
### END theme setup

default "Install Ubuntu for CMES"
#set timeout=90
set timeout=-1

menuentry 'Install Ubuntu for CMES' {
  set gfxpayload=keep
  linux   /casper/vmlinuz quiet autoinstall ds=nocloud\;s=/cdrom/nocloud/ ---
  initrd  /casper/initrd
  }
menuentry "Try or Install Ubuntu" {
	set gfxpayload=keep
	linux	/casper/vmlinuz  --- quiet splash
	initrd	/casper/initrd
}
menuentry "Ubuntu (safe graphics)" {
	set gfxpayload=keep
	linux	/casper/vmlinuz nomodeset  --- quiet splash
	initrd	/casper/initrd
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
else
menuentry 'Test memory' {
	linux16 /boot/memtest86+x64.bin
}
fi