insmod all_video ## Allows for graphics grub on qemu

loadfont /boot/grub/fonts/unicode.pf2
insmod efi_gop
insmod efi_uga
insmod gfxterm
terminal_output gfxterm

### BEGIN theme setup
insmod part_gpt
insmod lvm
insmod ext2
insmod gfxmenu
insmod png
set theme=/boot/grub/themes/cmes/theme.txt
export theme
### END theme setup

set timeout=90

menuentry 'Install Ubuntu for CMES' {
  set gfxpayload=keep
  linux   /casper/vmlinuz quiet autoinstall ds=nocloud\;s=/cdrom// ---
  initrd  /casper/initrd
}

menuentry 'UEFI Firmware Settings' {
  fwsetup
}
else
menuentry 'Test memory' {
  linux16 /boot/memtest86+x64.bin
}
fi